<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="tests/php/bootstrap.php"
	cacheResultFile=".phpunit.cache/test-results"
	colors="true"
	failOnWarning="true"
	failOnRisky="true"
>
	<testsuites>
		<testsuite name="Presenter PHP tests">
			<directory suffix="Test.php">tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
