$pink:  #e16565;
$blue:  #bdccd4;
$white: #fff;

$primary_font_stack: "adelle", serif;
$secondary_font_stack: "proxima-nova", sans-serif;

$pink_bg: $pink url("images/redback.png") repeat fixed;
$grilled_bg: $white url("images/grilled.png") repeat scroll;

$dark_shadow: 0 2px 3px rgba( 0, 0, 0, 0.2 );

@mixin border-radius($r) {
	-webkit-border-radius:$r;
	-moz-border-radius:$r;
	border-radius:$r;
}

@mixin rotate($deg) {
	-webkit-transform:rotate($deg);
	-moz-transform:rotate($deg);
	-ms-transform:rotate($deg);
	-o-transform:rotate($deg);
	transform:rotate($deg);
}

@mixin box-shadow($x, $y, $blur, $color) {
	-webkit-box-shadow:$x $y $blur $color;
	-moz-box-shadow:$x $y $blur $color;
	box-shadow:$x $y $blur $color;
}

@mixin curl-shadow {
	position:relative;
	> :first-child:before {
		content:"";
		position:absolute;
		z-index:-1;
		background:#fff;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}

	&:before, &:after {
		content:"";
		position:absolute;
		z-index:-2;
		bottom:15px;
		width:50%;
		height:20%;
		max-width:300px;
		@include box-shadow(0, 15px, 10px, rgba(0, 0, 0, 0.7));
	}

	&:before {
		left:10px;
		@include rotate(-3deg);
	}

	&:after {
		right:10px;
		@include rotate(3deg);
	}
}


.deck-menu.deck-container {
	background: none;
}
.deck-container {
	font-family: $primary_font_stack;
	font-size: 1.75em;
	background: $pink_bg;
	@include box-shadow(0, 5px, 10px, rgba(0, 0, 0, 0.3));
	margin: 16px auto 24px;
	max-width: 1024px;
	min-height: 560px;
	width: auto;

	> .slide {
		color: $white;
		text-shadow: $dark_shadow;

		&.light,
		&.vise-slide {
			color: $pink;
			background: $grilled_bg;
			text-shadow: none;
		}
	}

	.slide {
		font-weight: bold;

		&.light {
			a {
				&, &:hover, &:focus, &:active, &:visited {
					color: #C14545;
				}
			}
		}
		&.vise-slide .title {
			font-family: $secondary_font_stack;
			font-weight: bold;
		}

		h1, h2, h3 {
			font-weight: 100;
			font-size: 3em;
			border-bottom: 0;
			margin-bottom: .25em;

			&.huge {
				font-size: 12em;
			}

			&:not(.code) {
				text-transform: uppercase;
			}
		}

		h1 {
			&.subhead {
				font-size: 2em;
			}
		}

		h2 {
			font-size: 2em;
			&.subhead {
				font-size: 1.5em;
			}
			&.large {
				font-size: 3em;
			}
		}

		h3 {
			font-size: 1.75em;
			&.subhead {
				font-size: 1em;
			}
			&.large {
				font-size: 2.5em;
			}
		}

		h4,h5,h6
		blockquote {
			font-family: $secondary_font_stack;
			font-weight: bold;
			border-bottom: 0;
			font-size: 1.5em;
			padding: 1em 2em;
		}

		h5 {
			font-size: 1.25em;
		}

		h6 {
			font-size: 1em;
		}

		blockquote {
			&:before {
				content: '“';
				display: block;
				height: 0;
				width: 0;
				margin-left: -95px;
				font-size: 3em;
				line-height: 0.5em;
				opacity: 0.3;
			}

			p {
				margin: 0;
			}

			cite {
				display: block;
				text-align: right;
				font-family: $primary_font_stack;
				text-transform: uppercase;
				font-weight: 100;
				font-size: 0.8em;

				.source {
					display: block;
					text-align: right;
					font-family: $secondary_font_stack;
					font-weight: normal;
					font-size: 0.5em;
					text-transform: none;
					opacity: 0.8;
				}
			}
		}

		::-moz-selection{
			background: $pink;
			color: $white;
		}
		::selection {
			background: $pink;
			color: $white;
		}

		a {
			&, &:hover, &:focus, &:active, &:visited {
				color: #F3DFE5;
				text-decoration: none;
			}

			&:hover, &:focus {
				text-decoration:underline;
			}
		}
		pre {
			border-color:#cde;
			background:#fff;
			position:relative;
			z-index:auto;

			.borderradius & {
				@include border-radius(5px);
			}

			/* http://nicolasgallagher.com/css-drop-shadows-without-images/ */
			.csstransforms.boxshadow & {
				> :first-child:before {
					content:"";
					position:absolute;
					z-index:-1;
					background:#fff;
					top:0;
					bottom:0;
					left:0;
					right:0;
				}

				&:before, &:after {
					content:"";
					position:absolute;
					z-index:-2;
					bottom:15px;
					width:50%;
					height:20%;
					max-width:300px;
					@include box-shadow(0, 15px, 10px, rgba(0, 0, 0, 0.7));
				}

				&:before {
					left:10px;
					@include rotate(-3deg);
				}

				&:after {
					right:10px;
					@include rotate(3deg);
				}
			}
		}

		.syntaxhighlighter {
			padding:1em 0;
		}

		.boxshadow & .curl-shadow {
			@include curl-shadow;
		}

		.aligncenter {
			display:block;
			margin:0 auto 10px;
			text-align: center;
		}

		.alignleft {
			float:left;
			margin:0 10px 0 0;
			text-align: left;
		}

		.alignright {
			float:right;
			margin:0 0 0 10px;
			text-align: right;
		}

	}


	> .slide {
		.deck-before, .deck-previous {
			opacity:0.4;

			&:not(.deck-child-current) {
				.deck-before, .deck-previous {
					opacity:1;
				}
			}
		}

		.deck-previous.replace {
			display: none;
		}

		.deck-child-current {
			opacity:1;
		}
	}

	.deck-prev-link, .deck-next-link {
		background:#ccc;
		font-family:serif; // sans-serif arrows x-browser fail

		&, &:hover, &:focus, &:active, &:visited {
			color:#fff;
		}

		&:hover, &:focus {
			background:#c00;
			text-decoration:none;
		}
	}

	.small {
		font-size:0.6em;
	}

	.deck-status {
		color: $white;
		font-size:0.6666em;
	}

	.permalink {
		position: absolute;
		bottom: 10px;
		left: 5px;
		color: $white;
		font-size:0.6666em;
		z-index: 3;
		margin: 0;

		a {
			color: $white;
			text-decoration: none;
		}
	}

	&.deck-menu {
		.slide {
			background: $pink_bg;
		}

		.deck-current, .no-touch & .slide:hover {
			background: $pink_bg;
			@include box-shadow(20px, 30px, 10px, rgba(0, 0, 0, 0.3));
		}
	}
}

img {
	.curl-shadow & {
		margin:0;
	}
	&.centered,
	&.alignnone,
	&.alignleft,
	&.alignright {
		display:inline;
		padding:0;
	}

	&.centered  {
		display:block;
		margin:0 auto 10px auto;
	}

	&.alignnone {
		margin:0 0 10px 0;
	}

	&.alignleft {
		margin:0 10px 10px 0;
	}

	&.alignright {
		margin:0 0 10px 10px;
	}
}

#conan {
	background: #333;
	color: $white;
}
